<h3>Bike Description: </h3>
<p> hello {{ bike.thisBike }}</p>

<form name="thisBike" class="form-group" ng-submit="bike.editBike(bike.bikeInfo)">
{{ bicycle.name }}
  <li ng-click="bike.nameForm = !bike.nameForm">{{ bike.user.name }}</li>
  <input type="text" class="form-control" name="name" ng-model="bike.bikeInfo.name" placeholder="Bike name">
  <input type="text" class="form-control" name="manu" ng-model="bike.bikeInfo.manu" placeholder="Bike manufacturer">
  <input type="text" class="form-control" name="year" ng-model="bike.bikeInfo.year" placeholder="Bike accessory">
  <input type="text" class="form-control" name="model" ng-model="bike.bikeInfo.model" placeholder="Bike image">
  <button type="submit" class="btn btn-primary col-sm-3" name="addIt" >Update!</button>
</form>
