<h3>Bike Description: </h3>
<p> hello {{ bicycle.thisBike }}</p>

<form name="thisBike" class="form-group" ng-submit="bicycle.editBike(bicycle.thisBike)">
  <h2>Bike Description: </h2>
  <h3> {{ bicycle.thisBike.name }}</h3>
  <h4 ng-click="bicycle.nameForm = !bicycle.nameForm">Name:  {{ bicycle.thisBike.name }}</h4>
      <span ng-show="bicycle.nameForm"><input type="text" ng-model="bicycle.thisBike.name" autofocus ></span>
  <h4 ng-click="bicycle.manuForm = !bicycle.manuForm">Manufacturer:  {{ bicycle.thisBike.manu }}</h4>
      <span ng-show="bicycle.manuForm"><input type="text" ng-model="bicycle.thisBike.manu" ></span>
  <h4 ng-click="bicycle.yearForm = !bicycle.yearForm">Year:  {{ bicycle.thisBike.year }}</h4>
      <span ng-show="bicycle.yearForm"><input type="text" ng-model="bicycle.thisBike.year" ></span>
  <h4 ng-click="bicycle.modelForm = !bicycle.modelForm">Model:  {{ bicycle.thisBike.model }}</h4>
      <span ng-show="bicycle.modelForm"><input type="text" ng-model="bicycle.thisBike.model" ></span><br>
  <button type="submit" class="btn btn-primary col-sm-3" name="addIt">Update!</button>
  <button type="button" class="btn btn-primary col-sm-3" ui-sref="bikeList">Close</button>
</form>
