body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gold;
}

a {
  color: #00B7FF;
}

.description {
  color: blue;
}

.columnTitles {
  margin-bottom: 35px;
  padding-bottom: 0;
}
.replacedButton {
  margin-left: 20;
}
.rowMaker {
  margin-bottom: 20px;
}
.rowStarter {
  margin-top: 50px;
}
.oddOne {
  margin-top: 20px;
}
.tip {
  font-size: 10px;
}

h4 {
  margin-bottom: 10px;
}
